@import './components/icons.css';
@import './components/fonts.css';
@import './components/body.css';
@import './components/link.css';
@import './components/button-icon.css';
@import './components/sidebar.css';
@import './components/ellipsis.css';
@import './components/player.css';
@import './components/page.css';
@import './components/layout.css';
@import './components/scrollbar.css';
@import './components/root.css';

#carga {
  position: fixed;
  background-color: var(--gray50);
  inline-size: 100%;
  block-size: 100%;
  z-index: 1000;
  transition: all 1s ease-out;
}