@import './components/icons.css';
@import './components/fonts.css';
@import './components/body.css';
@import './components/link.css';
@import './components-page2/button-play.css';
@import './components/sidebar.css';
@import './components/utilities.css';
@import './components/page.css';
@import './components/layout.css';
@import './components/root.css';

#carga {
  position: fixed;
  background-color: var(--gray50);
  inline-size: 100%;
  block-size: 100%;
  z-index: 1000;
  transition: all 1s ease-out;
}

@media screen and (max-width: 1200px) {
  .layout-main h1 {
    top: calc(50% - 4rem);
    left: calc(50% - 20rem);
  }
}