@import './components-playlist-a/playlist-description-father.css';
@import './components-playlist-a/vertical-playlist-container.css';
@import './components-playlist-a/page.css';

@media screen and (max-width: 1210px) {
  .page {
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 120%;
  }

  .veticalPlaylistContainer {
    inline-size: 100%;
  }

  .headerDetails {
    inline-size: 100%;
  }
}

@media screen and (max-width: 1140px) {
  .page {
    background-repeat: no-repeat;
    background-position: center -10px;
    background-size: 150%;
  }
}