.playerVolume {
  display: flex;
  align-items: center;
}

.playerVolume button:hover {
  color: var(--white);
}

.playerVolume-slider {
  flex: 1;
  inline-size: 6rem;
  padding-inline-start: .5rem;
}