.headerDetails {
  display: flex;
  align-items: center;
  inline-size: 67.93rem;
  padding: 0;
  text-transform: uppercase;
}

.headerDetails > * {
  margin-block-end: 0;
  margin-block-start: 0;
  padding: 0.625rem;
  font: var(--subtitle);
}

.headerDetails-title {
  /* inline-size: 20rem; */
  inline-size: 18rem;
  margin-inline-start: 5.125rem;
}

.headerDetails-artist {
  /* inline-size: 17rem; */
  inline-size: 15.4rem;
}

.headerDetails-album {
  /* inline-size: 17rem; */
  inline-size: 15.2rem;
}

.headerDetails-calendar {
  /* inline-size: 5.625rem; */
  inline-size: 5rem;
}

.headerDetails-clock {
  inline-size: 3rem;
}