@import './playlist-description.css';

.playlistDescriptionFather {
  display: flex;
  /* inline-size: 70rem; */
  block-size: 20rem;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
}