.buttonIcon {
  inline-size: 2.5rem;
  block-size: 2.5rem;
  background: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  color: var(--gray10);
}

.buttonIcon.is-small {
  inline-size: 24px;
  block-size: 24px;
  border: 1px solid var(--white);
}

.buttonIcon.is-big {
  inline-size: 3.5rem;
  block-size: 3.5rem;
}

.buttonIcon.is-white {
  background: var(--white);
  color: var(--gray50);
}

.buttonIcon.is-primary {
  background: var(--primaryColor);
  color: var(--white);
}

.buttonIcon.is-transparent {
  background: transparent;
  color: var(--white);
}

.buttonIcon .icon-play {
  position: relative;
  left: 1px;
  top: 1px;
  font-size: 1rem;
}

.buttonIcon .icon-play.is-small {
  left: 1.3px;
  top: -.7px;
  font-size: 9px;
}

.buttonIcon .icon-play.is-big {
  left: 2px;
  top: 1px;
  font-size: 1.5rem;
}

.buttonIcon:active {
  transform: scale(.95);
}

.buttonIcon:hover:is([class*='is-']) {
  box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}