@import './vertical-section-interactive.css';

.songContainer {
  position: relative;
  inline-size: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
  counter-increment: titleList;
}

.songContainer .verticalPlaylist {
  justify-content: space-between;
}